<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Posts</title>
        <%- include("partials/header") -%>
    </head>
    <body>

        <h1><%=postTitle%></h1>
        <p><%=postBlog%></p>



        <%- include("partials/footer") -%>
    </body>
</html>
